* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 500px;
}


/* utilities */
.xs_padding_top {
  padding-top: 10px;
}
.xs_padding_bottom {
  padding-bottom: 10px;
}
.icon_padding {
  padding-right: 5px;
}
.xs_margin {
  margin-left: 10px;
}

.grey {
  color:grey;
}


.wrapper {
  height: 100vh;
  width: 100%;
  background-color: black;
}

/* INIZIO MAIN */
main h1 {
  color: white;
}


/* inizio nav */

main div.nav_top,
main div.xs_nav_top {
  display: flex;
  flex-direction: column;
  height:calc(100% - 80px);
  overflow-y: hidden;
}

.main_nav,
.xs_nav {
  position: fixed;
  top:0;
  left: 0;
  width: 230px;
  height: calc(100% - 90px);
  min-height: 300px;
  background-color: black;
  z-index: 1;
  color: grey;
  padding:0 10px;
}


/* nav top */
.nav_logo {
  height: 90px;
  line-height: 90px;
  padding: 10px;
}
.nav_logo img {
  height: 80%;
}

/* nav menu */
.nav_menu ul {
  list-style: none;
}
.nav_menu ul li ,
.nav_playlist ul li {
  padding:5px 0;
}
.nav_menu ul li#home:before{
    content: "";
    border-left: 4px solid limegreen;
    position: absolute;
    width: 20px;
    left: 0;
    z-index: 10;
    height: 20px;
}
.nav_menu ul li a {
  text-decoration: none;
  color: grey;
}
.nav_menu ul li a:hover {
  color: white;
}
.nav_menu ul li img {
  height: 20px;
  padding-right:5px;
  color: grey;
}

/* nav playlist */
.nav_playlist h3 {
  text-transform: uppercase;
  color: white;
}

.playlist_header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: grey;
}
.playlist_header a:hover {
  color:white;
}
.playlist_header i {
  font-size: 2.5em;
  padding-right:5px;
}

.nav_playlist {
  overflow: hidden;
}

.nav_playlist ul {
  height: 100%;
  overflow-y: auto;
}
.nav_playlist ul li:hover{
  color:white;
}

/* nav bottom */
.nav_bottom_up a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: grey;
}
.nav_bottom_up a:hover {
  color:white;
}

.nav_bottom_up img {
  height: 20px;
}

.nav_bottom_user {
  display: flex;
}
.nav_bottom_up ,
.nav_bottom_user {
  padding: 8px;
  padding-left: 0;
}
.nav_bottom_user img {
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}
.nav_bottom_user h2 {
  padding-left: 10px;
  color: white;
}

.nav_bottom,
.xs_nav_bottom {
  /* height: 80px;
  background-color: orange; */
  margin-bottom: 90px;
}

/* nav xs */
.xs_nav_top ul li {
  padding-bottom:10px;
}
.xs_nav_top ul #logo_small{
  padding-top: 3px;
}

.xs_nav_bottom  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.xs_nav_bottom .icon_padding {
  margin-right: 2px;

}
.xs_nav {
  display: none;
}
.xs_nav_bottom img#profile {
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

/* main content */

.main_content {
  padding-left: 230px;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(20,25,34);
  padding-top: 90px;
  padding-bottom: 90px;
}

.main_content .content_toplayer {

  position: absolute;
  top: 0;
  left:0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.82);
  padding-left: 230px;
}

.content_toplayer a {
  border: 1px solid white;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding:20px;
}
.content_toplayer a:hover {
  padding:30px;
}


/* content nav */

.content_nav_wrap {
  width: 100%;
  text-align: center;
}

.content_nav nav ul {
  list-style: none;
  line-height: 30px;
}
.content_nav nav ul li {
 display: inline-block;
 padding:0 10px;
}
.content_nav nav ul li a {
  position: relative;
 color: lightgray;
 text-decoration: none;
 text-transform: uppercase;
}
.content_nav nav ul li a:hover {
 color: white;
}
.content_nav nav ul li a.active:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 50%;
  width: 30px;
  height: 3px;
  transform: translateX(-50%);
  background-color: limegreen;
}

/* recently_played */
.rp_row {
  display: flex;
  justify-content: start;
  flex-wrap:wrap;
}
.rp_song {
  width: calc(100% / 6 - 20px);
  margin: 10px;
}
.rp_layover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 4px);
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
}
.rp_layover a i {
 font-size: 3em;
 color: white;
}
.rp_song:hover .rp_layover {
  opacity: 1;
}


.rp_img {
  position: relative;
}
.rp_img img {
  width: 100%;
}
.rp_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rp_description h2 {
  color:white;
  text-align: center;
  font-size: 1.2em;
}
.rp_description p {
  color:grey;
  text-align: center;
}

/* popolar artist */
.popolar_artist .rp_row .rp_song .rp_img img {
  border-radius: 50%;
}
.circle.rp_layover  {
  border-radius: 50%;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left:0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: rgb(40,40,40);
  z-index: 2;
}

.footer_right,
.footer_left {
  width: 230px;
  height: 100%;
}
.footer_center{
  width:400px;
  height: 100%;
}

/* footer left */
.footer_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:grey;
}

.song_img img {
  width: 40px;
}

.song_description h4 {
  color:white;
}
.song_description p:hover {
  color:white;
}

.song_icon a {
  color:grey;
}

.song_icon a:hover {
  color:white;
}




/* footer center */
.footer_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.footer_center .center_bottom {
  height: 45px;
}
.center_up {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center_up a {
  color:white;
}
.center_up a i.fa-play-circle:hover {
  font-size: 1.8em;
}
.fa-play-circle {
  font-size: 1.6em;
}

.center_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}

.big_volumebar {
  width: 80%;
  height: 3px;
  border-radius: 20px;
  background-color: grey;
}
.used_volumebar {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 20px;

}
.used_volumebar:hover {
  background-color: limegreen;
  border-radius: 20px;
}
.used_volumebar:hover .volumebar_point {
  display: block;
}

.used_volumebar .volumebar_point {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-40%);
}


/* footer right */
.footer_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_right_icon ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.bottom_right_icon ul li a i{
  color:white;
}

.little_volumebar {
  width: 130px;
  height: 3px;
  border-radius: 20px;
  background-color: grey;
}

/* media query */

/* Dimensione xs */
@media screen and (max-width:767px) {
  .rp_song {
    width: calc(100% / 2 - 20px);
  }
 .main_nav {
   display: none;
 }
 .xs_nav {
   display: block;
   width: 50px;
 }
 .main_content {
   padding-left: 50px;
 }
 .content_nav ul li {
   flex-grow: 4;
 }

}

/* Dimensione sm */
@media screen and (min-width:768px) and (max-width:991px) {
  .rp_song {
    width: calc(100% / 2 - 20px);
  }

}

/* Dimensione md */
@media screen and (min-width:992px) and (max-width:1200px) {
  .rp_song {
    width: calc(100% / 4 - 20px);
  }

}

/* Dimensione lg */
@media screen and (min-width:1200px) {
  .rp_song {
    width: calc(100% / 6 - 20px);
  }
}
